/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 15, 2020, 2:54:18 PM
    Author     : esteb
*/

*{
    -fx-font-family: Roboto;
    -fx-base-color-focus:#fff;
    -fx-base-color-unfocus:#4d4d4d;
    -fx-base-color-etiquetas:#4d4d4d/*#bcbcbc*/;
    -fx-base-color-titulos:#51b6cd;
    -fx-base-color-error:#D34336;
    -fx-base-color-id:#00C853;
}
.contenedorTxt>JFXTextField,JFXPasswordField {
    -fx-font-size: 15px;
    -jfx-focus-color: #c4e426;                                 
    -jfx-unfocus-color: white;
    -fx-text-fill: white;
    -fx-prompt-text-fill: -fx-base-color-focus;
}
.labelTitulos {
     -fx-font-family: arial;
    -fx-font-size: 40px;
    -fx-font-style: italic;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.9), 2, 0.0, 1, 2); 

}
.labelContrasenna {
     -fx-text-fill: white; 
}
.labelContrasennaH :hover {
     -fx-text-fill: RED; 
     -fx-font-weight: bold;
     -fx-cursor: hand;
}

#lblReloj{
    -fx-font-family: arial;
    -fx-font-size: 75px;
    /*-fx-font-style: bold;*/
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.9), 2, 0.0, 1, 2); 
}

.botonesRegistro>JFXButton {
    -fx-background-color: white,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#848789, #1FAAC4)
        /*radial-gradient(center 50% 0%, radius 100%, rgba(97,202,222,0.9), rgba(153,208,218,0))*/;
   /* -fx-background-radius: 5,4,3,5;*/
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: #B6BCC0;
   /* -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );*/
    -fx-font-weight: bold;
    -fx-text-fill: linear-gradient(white, #494e4f);
    -fx-font-size: 17px;
    -fx-background-radius: 5em;
    -fx-text-fill: white;
}

.botonesSimples>JFXButton{
        border: 10px;
        -fx-font-size: 17px;
    -fx-background-color: #009999;
    -fx-background-radius: 5em;
    -fx-text-fill: white;
  
}
.labelSubTitulos {
     -fx-font-family: arial;
    -fx-font-size: 32px;
    -fx-font-style: italic;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.9), 2, 0.0, 1, 2); 

}
.ComboBox>JFXComboBox{
    -fx-prompt-text-fill: white;
    -fx-font-size: 15px;
    -jfx-focus-color: #c4e426;                                 
    -jfx-unfocus-color: white;
}

.btnPassword
{
    height:47px;
    width: 35px;
    -fx-background-color: transparent;
    -fx-background-radius: 50%;
}
.btn-Cerrar-Maximizar-Minimizar>JFXButton{

    height:33px;
    width: 30px;
    -fx-background-color: transparent;
    -fx-background-radius: 50%;

}
.botonesRegistroHover > JFXButton:hover {
    -fx-background-color:orangered;
    -fx-cursor: hand;
}
.botonesVentana > JFXButton:hover {
 
    -fx-cursor: hand;
}
.botonesRegistroText>JFXButton {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 1, 0.0 , 0 , 1 );
}
.hboxTitulo{
 -fx-background-radius: 30px;

-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 2, 0.0, 1, 2);
/*-fx-border-color:#494e4f;                                                  
-fx-border-width: 3px;
-fx-border-style:solid;
-fx-border-radius: 28px;*/
}

.JFXCheckBox{
-fx-background-radius: 30px;
-fx-text-fill: white;
-fx-font-size: 15px;
-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 2, 0.0, 1, 2);
}

.AreaDeTexto>JFXTextArea{
    -fx-background-insets: 1 0 1 1, 1 0 1 1, 3 2 3 3;
    -fx-background-radius: 2 0 0 2, 1 0 0 1, 0;
    -fx-background-color:
        -fx-control-inner-background,
        -fx-faint-focus-color,
        linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
-jfx-default-color: #10adcc;
-fx-text-fill: black;
-fx-prompt-text-fill: #A0A0A0;
-fx-font-size: 20px;
-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 2, 0.0, 1, 2);
}

.datePickerContenedor>JFXDatePicker{
    -fx-background-insets: 1 0 1 1, 1 0 1 1, 3 2 3 3;
    -fx-background-radius: 2 0 0 2, 1 0 0 1, 0;
    -fx-background-color:
        -fx-control-inner-background,
        -fx-faint-focus-color,
        linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
-jfx-default-color: #10adcc;
-fx-text-fill: white;
-fx-prompt-text-fill: white;
-fx-font-size: 15px;
-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 2, 0.0, 1, 2);
}
.botonesSimples2>JFXButton{
        border: 10px;
        -fx-font-size: 17px;
    -fx-background-color: #e65c00;
    -fx-background-radius: 5em;
    -fx-text-fill: white;
}

.botonesAnterior-Siguiente{
        border: 10px;
        -fx-font-size: 17px;
    -fx-background-color: #009933;
    -fx-background-radius: 5em;
    -fx-text-fill: white;
}
.botonesRegistroHover2 > JFXButton:hover {
    -fx-background-color: #B30071;
    -fx-cursor: hand;
}
.BackgroundTiutloMenu{-fx-background-image: url("../resources/fondo3.jpg");}
.Background3 > ImageView{-fx-image: url("../resources/fondo3.jpg");}

.Background{-fx-background-image: url("../resources/Fondo.png");}

.Cerrar>ImageView{-fx-image: url("../resources/error.png");}
.Maximizar>ImageView{-fx-image: url("../resources/television.png");}
.Minimizar>ImageView{-fx-image: url("../resources/minus.png");}
.ImagenMenu{-fx-image: url("../resources/Fondo6.png");}                        
.Sugerencia>ImageView{-fx-image: url("../resources/Signo.png");}

.Sugerenciaboton{
    -fx-background-color: #1b9ba9;
    -fx-background-radius: 19em;
}

.Nombre{-fx-image: url("../resources/notebook.png");}
.PriApellido{-fx-image: url("../resources/file.png");}
.SegApellido{-fx-image: url("../resources/file2.png");}
.Correo{-fx-image: url("../resources/internet.png");}
.Telefono{-fx-image: url("../resources/home.png");}
.Celular{-fx-image: url("../resources/smartphone.png");}
.Cedula{-fx-image: url("../resources/idcard.png");}
.Usuario{-fx-image: url("../resources/id.png");}
.Contrasenia>ImageView{-fx-image: url("../resources/contrasenia.png");}
.Agregar>ImageView{-fx-image: url("../resources/Agregar.png");}
.ContraseniaLogIn{-fx-image: url("../resources/contrasenia.png");}
.SelecFoto>ImageView{-fx-image: url("../resources/photoCamera.png");}
.SelecFoto2>ImageView{-fx-image: url("../resources/files.png");}
.UserLogIn{-fx-image: url("../resources/User.png");}
.btnAgregar{
            border: 10px;
    -fx-background-color: #17B5C1;
    -fx-background-radius: 5em;
    -fx-text-fill: white;
}

/*/////////////////////////////////////////////Tab Pane//////////////////////////////////////////////////*/

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: #e6e6e6;

}

.tab-pane .tab:selected
{
    -fx-background-color: #3c3c3c;
}

.tab-header-background {
    -fx-background-color: #A8155A;
}

/*Opciones para el tab del proyecto*/

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #A0A0A0;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: white;
}

/*Opciones para el tab del proyecto*/

.hyperlink
{
    -fx-text-fill: white;
}

.hyperlink:visited
{
    -fx-text-fill: orangered;
}

.hyperlink:hover
{
    -fx-text-fill: hotpink;
}

.backgroundTabPane{
    /*-fx-background-color: #3c3c3c;
    -fx-opacity: 0;*/
    
    -fx-background-color: transparent,
        radial-gradient(center 50% 0%, radius 100%, rgba(97,202,222,0.9), rgba(153,208,218,0));
    /*-fx-border-width: 3;
    -fx-border-color: #2AAAAA;
    -fx-border-radius: 9.0;*/
        -fx-background-radius: 9.0;
    -fx-effect: dropshadow(three-pass-box, rgba(57, 196, 191, 0.15), 10.0, 0.7, 0.0,1.5);
    -fx-padding: 25 15 15 15;
}
/*/////////////////////////////////////////////////////////Combo Box////////////////////////////////////*/
.combo-box-popup .list-view
{
-fx-background-color: #565858,#565858;
-fx-text-fill: white;
-fx-background-insets: 0, 1;
-fx-opacity: 0.70;
}

.combo-box-popup .list-view .list-cell:hover
{
   -fx-background-color: orangered;
   -fx-opacity: 0.70;
}

.combo-box .cell:selected
{
    -fx-text-fill: white;
}
/*////////////////////////////////////////////////////Table View//////////////////////////////////////////*/


.table-view{
   -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

/* Spaltenköpfe
    Struktur column-header-background -> column-header */

.table-view .column-header-background{
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;                         
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: white;            /******/
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #616161;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;   
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #424242;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;   
}

.table-row-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}



.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}

.root
{
    -fx-background-image:url("Fondo10.png");
}

.MyJFXTextField
{
   -jfx-focus-color: #c4e426;
  -fx-prompt-text-fill: white;
  -fx-font-size: 15px;
  -jfx-unfocus-color: white;
}
/*/////////////////////////////////////JEREMY/////////////////////////////////////////////////////*/
/*
.text-input
{
    -fx-text-fill: white;
}

.hyperlink:link
{
    -fx-text-fill: white;
}

.hyperlink:visited
{
    -fx-text-fill: orangered;
}

.hyperlink:hover
{
    -fx-text-fill: hotpink;
}

#btnPassword
{
    height:47px;
    width: 35px;
    -fx-background-color: transparent;
    -fx-background-radius: 50%;
}

#btnCerrarVentana
{
    height:33px;
    width: 30px;
    -fx-background-color: transparent;
    -fx-background-radius: 50%;
}

.radio-button
{
     -fx-text-fill: white;
}

.button
{
    border: 10px;
    -fx-background-color: #009999;
    -fx-background-radius: 5em;
    -fx-text-fill: white;
}

#labelTitulo
{
    -fx-font-family: arial;
    -fx-font-size: 20px;
    -fx-font-style: italic;
    -fx-text-fill: white;
}

.combo-box
{
  -fx-prompt-text-fill: white;
}

.button:hover
{
   -fx-background-color:orangered;
};*/

